<div id="container1" style="min-width: 150px; height: 200px; max-width: 700px; margin: 0 auto"></div>

<!-- Page Content -->
<div class="container">
  <div class="jumbotron">
  <h2>Welcome Back, User.</h2>
  <p>Start using Empathy to understand your patients better. Visit our library for tips and details on the features available to you. </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn with us</a></p>
  </div>

<div class="col-sm-4 col-md-4">
<div class="thumbnail">
  <center><span class="glyphicon glyphicon-envelope" style="font-size:3em;"></span></center>
  <div class="caption">
    <center><h3>About</h3>
    <p>Harness the power of Machine Learning to better understand your patients</p>
    <p><a href="#" class="btn btn-primary" role="button">Get Started</a> </p>
    </center>
  </div>
</div>
</div>

<div class="col-sm-4 col-md-4">
<div class="thumbnail">
  <center><span class="glyphicon glyphicon-wrench" style="font-size:3em;"></span></center>
  <div class="caption">
    <center><h3>Patients</h3>
    <p>Harness the power of Machine Learning to better understand your patients</p>
    <p><a href="#" class="btn btn-primary" role="button">Get Started</a> </p>
    </center>
  </div>
</div>
</div>

<div class="col-sm-4 col-md-4">
<div class="thumbnail">
  <center><span class="glyphicon glyphicon-user" style="font-size:3em;"></span></center>
  <div class="caption">
    <center><h3>Insights</h3>
    <p>Harness the power of Machine Learning to better understand your patients</p>
    <p><a href="#" class="btn btn-primary" role="button">Get Started</a> </p>
    </center>
  </div>
</div>
</div>

</div>
