
<!-- Page Content -->
<div class="container">
  <div class="jumbotron">
  <h2>Welcome Back, User.</h2>
  <p>Start using Empathy to understand your patients better. Visit our library for tips and details on the features available to you. </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn with us</a></p>
  </div>

<div class="col-sm-4 col-md-4">
<div class="thumbnail">
  <center><span class="glyphicon glyphicon-envelope" style="font-size:3em;"></span></center>
  <div class="caption">
    <center><h3>Learn</h3>
    <p>Through our resource center, we aim to make your transition to Empathy seamless, allowing you to maximize the value of your data.</p>
    <p><a href="#" class="btn btn-primary" role="button">Get Started</a> </p>
    </center>
  </div>
</div>
</div>

<div class="col-sm-4 col-md-4">
<div class="thumbnail">
  <center><span class="glyphicon glyphicon-wrench" style="font-size:3em;"></span></center>
  <div class="caption">
    <center><h3>Patients</h3>
    <p>Improve the quality of care you provide your patients by using advanced analytics to best serve their needs.</p>
    <p><a href="#" class="btn btn-primary" role="button">Get Started</a> </p>
    </center>
  </div>
</div>
</div>

<div class="col-sm-4 col-md-4">
<div class="thumbnail">
  <center><span class="glyphicon glyphicon-user" style="font-size:3em;"></span></center>
  <div class="caption">
    <center><h3>Insights</h3>
    <p>Harness the power of Machine Learning, wearable device APIs, and EMR data to streamline integrated analytics.</p>
    <p><a href="#" class="btn btn-primary" role="button">Get Started</a> </p>
    </center>
  </div>
</div>
</div>

</div>
