
<div class="container">
  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Specialy Care Provider - Cardiovascular</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Patient ID</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Weight</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Height</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="test">Most Recent Diagnosis Date</label>
    <div class="col-md-4">
    <input id="test" name="test" type="text" placeholder="mm/dd/yyyy" class="form-control input-md">

    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Previous Disease Diagnosis</label>
    <div class="col-md-4">
      <select id="selectbasic" name="selectbasic" class="form-control">
        <option value="1">Coronary Artery Disease</option>
        <option value="2">Heart Damage or Failure</option>
        <option value="3">Stroke</option>
        <option value="4">Heart Attack</option>
        <option value="5">Congenital Heart Defect</option>
        <option value="6">Cardiomyopathy</option>
        <option value="7">Peripheral Artery Disease</option>
        <option value="8">NA</option>
      </select>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Previously Recommended Behavioral Modification</label>
    <div class="col-md-4">
      <select id="selectbasic" name="selectbasic" class="form-control">
        <option value="1">Diet</option>
        <option value="2">Tobacco/Alcohol</option>
        <option value="3">Physical Activity</option>
        <option value="4">NA</option>
      </select>
    </div>
  </div>

  <!-- Multiple Radios -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="radios">Presence of Risk Factors</label>
    <div class="col-md-4">
    <div class="radio">
      <label for="radios-0">
        <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
        Yes
      </label>
  	</div>
    <div class="radio">
      <label for="radios-1">
        <input type="radio" name="radios" id="radios-1" value="2">
        No
      </label>
  	</div>
    </div>
  </div>

  <!-- Multiple Checkboxes (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="checkboxes">If yes, select all that apply</label>
    <div class="col-md-4">
      <label class="checkbox-inline" for="checkboxes-0">
        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
        Hypertension
      </label>
      <label class="checkbox-inline" for="checkboxes-1">
        <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
        Arrhythmia
      </label>
      <label class="checkbox-inline" for="checkboxes-2">
        <input type="checkbox" name="checkboxes" id="checkboxes-2" value="3">
        Chest Pain
      </label>
      <label class="checkbox-inline" for="checkboxes-3">
        <input type="checkbox" name="checkboxes" id="checkboxes-3" value="4">
        Swelling of lower extremities
      </label>
      <label class="checkbox-inline" for="checkboxes-4">
        <input type="checkbox" name="checkboxes" id="checkboxes-4" value="5">
        High Cholesterol
      </label>
      <label class="checkbox-inline" for="checkboxes-5">
        <input type="checkbox" name="checkboxes" id="checkboxes-5" value="6">
        Type II Diabetes
      </label>
      <label class="checkbox-inline" for="checkboxes-6">
        <input type="checkbox" name="checkboxes" id="checkboxes-6" value="7">
        Smoking
      </label>
      <label class="checkbox-inline" for="checkboxes-7">
        <input type="checkbox" name="checkboxes" id="checkboxes-7" value="8">
        Alcohol
      </label>
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="radios">Screening/New Diagnosis Needed?</label>
    <div class="col-md-4">
      <label class="radio-inline" for="radios-0">
        <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
        1
      </label>
      <label class="radio-inline" for="radios-1">
        <input type="radio" name="radios" id="radios-1" value="2">
        2
      </label>
    </div>
  </div>

  <!-- Button (Double) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="button1id"></label>
    <div class="col-md-8">
      <button id="button1id" name="button1id" class="btn btn-primary">Submit</button>
      <button id="button2id" name="button2id" class="btn btn-default">Cancel</button>
    </div>
  </div>

  </fieldset>
  </form>
<div class="row">

  <div class="col-sm-6">
  <ul>
  {{#each model as |patients|}}
    <li>{{patients.name}}</li>
  {{/each}}
</ul>
</div>
<div class="col-sm-6">
{{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
</div>
</div>

</div>
